a{
    text-decoration: none;
    color: inherit;
}

.Footer-container{
    color: white;
}

h1{
    font-family: Marvel;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 8.4px;
}
